/*  your css code here. If applicable */

body{
	margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	
}
header{
background-color: #011e29;
color: white;
text-align: center;
padding: 20px;
font-size: 24px;
font-weight: bold;
}

  .container {
      display: flex;
      justify-content: space-around;
      padding: 30px;
      gap: 20px;
    }

/* Latest News Section */
    .latest-news-section {
      background-color: #ffffff;
      padding: 20px;
      width: 25%;
      border-radius: 15px;
    }

    .latest-news-section h3 {
      text-align: center;
      margin-bottom: 10px;
    }

    .latest-news-section ul {
      list-style-type: disc;
      padding-left: 20px;
    }

    .latest-news-section li {
      margin-bottom: 8px;
    }

    /* Main Article Section */
    .main-article {
      background-color: #ffffff;
      padding: 20px;
      width: 40%;
      border-radius: 10px;
      text-align: center;
    }

    .main-article h2 {
      margin-bottom: 10px;
    }

    /* Pictorial News Section */
    .pictorial-news-section {
      background-color: #ffffff;
      padding: 20px;
      width: 25%;
      text-align: center;
      border-radius: 10px;
    }

    .pictorial-news-section h3 {
      margin-bottom: 10px;
    }

    .pictorial-news-section img {
      width: 100%;
      margin-bottom: 10px;
      border-radius: 5px;
    }
